@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');
@import 'tailwindcss';

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-pretendard: 'Pretendard-Regular', sans-serif;
  --font-S-CoreDream-100: 'S-CoreDream-100', sans-serif;
  --font-S-CoreDream-200: 'S-CoreDream-200', sans-serif;
  --font-S-CoreDream-400: 'S-CoreDream-400', sans-serif;
  --font-S-CoreDream-500: 'S-CoreDream-500', sans-serif;
  --font-S-CoreDream-700: 'S-CoreDream-700', sans-serif;

  --spacing-gnb-width: 80px;
  --spacing-gnb-left: 100px; /* 80px(gnb width) + 20px(wave width) */
  --spacing-gsb-top: 88px;
  --spacing-gnb: 80px;

  --color-smooth-white: #eaeaea;
  --color-smooth-black: #101010;
  --color-dark-gray: #202020;
  --color-charcoal-gray: #303030;
  --color-midnight-gray: #404040;
  --color-gray: #505050;
  --color-white-gray: #909090;
  --color-light-gray: #bababa;
  --color-slate-blue: #474e79;
  --color-bright-blue: #516afc;
  --color-sky-blue: #76aadf;

  --color-dark-disabled-icon: #808080;

  --resizer-pointer-size: 8px;
}

@theme inline {
  --font-patrick: var(--font-patrick-hand), 'cursive';
  --font-spoqa: var(--font-spoqa), 'sans-serif';

  --color-dark-bg: var(--color-dark-gray);
  --color-dark-border: var(--color-midnight-gray);
  --color-dark-text: var(--color-smooth-white);
  --color-dark-placeholder: var(--color-light-gray);
  --color-light-disabled-icon: #606060;
  --color-light-bg: #e0e0e0;
  --color-light-border: var(--color-white-gray);
  --color-light-text: var(--color-smooth-black);
  --color-light-placeholder: var(--color-midnight-gray);
}

@utility hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer components {
  .input-color-theme {
    border-width: 1px;
    &:where(.dark, .dark *) {
      background-color: var(--color-dark-bg);
      border-color: var(--color-dark-border);
      color: var(--color-dark-text);
      &::placeholder {
        color: var(--color-dark-placeholder);
      }
    }
    &:where(.light, .light *) {
      background-color: var(--color-light-bg);
      border-color: var(--color-light-border);
      color: var(--color-light-text);
      &::placeholder {
        color: var(--color-light-placeholder);
      }
    }
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

:focus {
  outline: none;
  box-shadow: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
}

@font-face {
  font-family: 'S-CoreDream-200';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff')
    format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-400';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-500';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff')
    format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-700';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-S-CoreDream-200);
}

input {
  outline: none;
  box-shadow: none;
}

/* input 미리보기 스타일 조정 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px var(--color-dark-gray) inset !important;
  box-shadow: 0 0 0px 1000px var(--color-dark-gray) inset !important;
  -webkit-text-fill-color: var(--color-smooth-white) !important;
  font-family: 'S-CoreDream-400', sans-serif !important;
}

/* search input 데코레이션 삭제 */
/* Chrome, Safari, Edge */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

/* Firefox */
input[type='search']::-moz-search-results {
  display: none;
}

/* Internet Explorer */
input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sticky-note-container {
  position: absolute;
  z-index: 9;
  width: 120px;
  display: inline-block;
}

.sticky-note {
  line-height: 1;
  text-align: left;
  width: 120px;
  margin: 25px;
  padding: 20px 10px;
  position: relative;
  border: 1px solid #303030;
  font-family: 'Reenie Beanie';
  font-size: 24px;
  border-radius: 6px 6px 18px 6px;
  display: block;
  cursor: move;
  color: #303030;
}

.sticky-cliped {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 24px), calc(100% - 24px) 100%, 0 100%);
}

/* 그림자 */
/* .sticky-note:after {
  content: '';
  position: absolute;
  z-index: -1;
  right: -0px;
  bottom: 20px;
  width: 120px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.4);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
} */

.sticky-note.yellow {
  border-top: 1px solid #ffff88;
  background-color: #ffff88;
}

.sticky-note.pink {
  border-top: 1px solid #e7d1e4;
  background-color: #f7cbe8;
}

.sticky-note-container.dragging {
  transition: none !important;
}

.sticky-note div {
  cursor: text;
}

/* .sticky-note .delete {
  border: 0;
  background: none;
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 10px;
  cursor: pointer;
  opacity: 0.5;
}

.sticky-note .delete:hover {
  font-weight: bold;
  opacity: 1;
}

.sticky-note .color {
  border: 0;
  background: none;
  position: absolute;
  top: 8px;
  right: 25px;
  cursor: pointer;
  opacity: 0.5;
}

.sticky-note .color:hover {
  opacity: 1;
}
 */
.sticky-note .color i {
  display: block;
  width: 12px;
  height: 12px;
  background-size: contain;
  background-image: url(https://static.thenounproject.com/png/61592-200.png);
}
